.nav {
    /* background: #252525; */
}

.nav--icon {
    background-image: url(/assets/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 35px;
    margin-top: 3.8rem;
    margin-left: 1.5rem;
}

.nav--icon__fix {
    background: none;
}
.nav--icon__fix:hover {
    background: none;
}


.toggle {
    display: none;
}


.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 1.8rem;
    /* margin-right: 15rem; */
    /* flex-wrap: wrap; */
}


.nav li {
    /* display: inline-block; */
    display: flex;
    text-align: center;
    align-items: center;   
    /* margin-left: 35px;
    margin-right: 35px; */
    margin-top: 4rem;
    width: 100%;
}




.nav a {
    font-weight: 100;
    letter-spacing: -2px;

}


.navWrapper {
    max-width: 180rem;
    margin: 0 auto;
	
}

.Registro{
	text-align: center;
    background: url(/assets/fondopiola.jpg);

}


.form{
	display: inline-block;
    /* flex-direction: column; */
    
}

.fix {
    color: #fff;
}


.fix input {
    background: rgba(185, 179, 179, 0.096);
    color: white;
    outline: none;
    font-size: 2.4rem;
    margin: 0 auto;
    margin-top: 3rem;
}


.mantenerlog {
    display: inline-block;
    /* float: right; */
    font-size: 1.1rem;
}

.inicio {
    /* float: right; */
    display: inline-block;

}

.contraolvbox {
    /* display: inline-block;
    float: left; */
    display: inline-block;
    margin-left: 7rem;
    margin-bottom: 4rem;
}

.contraolvbox a {
    background: none;
}

.contraolv {
    display: inline-block;
}

.iniciobox {
    display: block;
    margin-bottom: 4rem;
}


.ingresar {
    width: 14vw;
    height: 6vh;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: -1rem;
    background: rgba(185, 179, 179, 0.096);
    color: white;
    outline: none;

}

h2 {
    padding-top: 2rem;
    margin-bottom: 1rem;
}


@media all and (max-width: 880px) {

    .nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav li {
        flex: 1 1 50%;
    }

    .nav--icon {
        display: none;

    }
}


@media all and (max-width: 800px) {
    /* NAV ------------------ */
        .navWrapper {
            display: flex;
            flex-direction: column;
        }
    
        .navWrapper > *{
            order: 999;
        }
    
    
    
        .nav ul {
            display: none;
        }
    
        .nav ul.open {
            display: flex;
        }
    
        .nav li {
            flex-basis: 100%;
        }
    
    
        .nav--icon {
            /* display: none; */
            display: flex;
            /* order: 1; */
           margin-left: auto;
           margin-right: auto;
        }
    
    
        .toggle {
            display: block;
            width: auto;
            height: 4rem;
            font-size: 3rem;
            background: none;
            text-align: center;
        }
    
}
    


