@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=BIZ+UDGothic&family=Exo:ital,wght@1,300&family=Hubballi&family=Mohave:ital,wght@1,600&family=PT+Sans+Narrow&family=Smooch+Sans:wght@100&display=swap');


html { 
    font-size: 10px;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Exo', sans-serif;
    background: #000000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-size: 3rem;
}

p {
    color: white;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: inline-block;

}
a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}




/* https://pearljam.com/ */