@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=BIZ+UDGothic&family=Exo:ital,wght@1,300&family=Hubballi&family=Mohave:ital,wght@1,600&family=PT+Sans+Narrow&family=Roboto:wght@300&family=Smooch+Sans:wght@100&display=swap');


html { 
    font-size: 10px;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Teko', sans-serif;
}

p {
    color: white;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
    background: rgba(66, 64, 64, 0.288);
    width: 100%;
    display: inline-block;

}
a:hover {
    text-decoration: none;
    background: rgba(185, 179, 179, 0.61);
}

ul {
    list-style: none;
}

fieldset {
    width: 100rem;
    margin: 0 auto;
    border: none;
}

table {
    color: white;
    font-size: 2.2rem;
    margin: 0 auto;
    table-layout: fixed;

}

th,
td {
    padding: 4rem;
}






/* https://pearljam.com/ */