/* HEADER--------------- */
header {
    display: flex;
    justify-content: flex-end;

}

header a {
    background: none;
    width: auto;
    margin: 3px;
    font-size: 1.3rem;
    transition: color 1s ease-out;
}

header a:hover {
    color: rgba(194, 166, 11, 0.925);
    background: none;
}

hr {
    margin: 0;
}





/* NAV ---------------------------------- */

.nav {
    /* background: #252525; */
}

.nav--icon {
    background-image: url(/assets/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 35px;
    margin-top: 3.8rem;
    margin-left: 1.5rem;
}

.nav--icon__fix {
    background: none;
}
.nav--icon__fix:hover {
    background: none;
}


.toggle {
    display: none;
}


.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    /* justify-content: flex-start; */
    font-size: 1.8rem;
    /* margin-right: 15rem; */
    /* flex-wrap: wrap; */


}


.nav li {
    /* display: inline-block; */
    display: flex;
    text-align: center;
    align-items: center;   
    /* margin-left: 35px;
    margin-right: 35px; */
    margin-top: 4rem;
    width: 100%;
 
}




.nav a {
    font-weight: 100;
    letter-spacing: -1px;
    transition: color 1s ease-out,
                background 1s ease-out;

}

.nav a:hover:not(.home) {
    color: rgba(194, 166, 11, 0.925);
    background: rgba(66, 64, 64, 0.829);;
}


.navWrapper {
    max-width: 180rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;


}

.home{
    background: none;
    font-size: 4rem;
    font-weight: 200;
    /* margin-right: 40rem; */
}

.home:hover {
    background: none;
}




/* PORTADA------------------------------------- */

.portada {
    margin: 0 auto;
    max-width: 180rem;

}




.portada__img {
    display: inline-block;
    background: url(/assets/nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35rem;
    margin-top: 2rem;

    
}


/* NAV SECUNDARIO */

.nav2__bar {
    background: #252525;
    /* background: black; */
    /* height: 5rem; */
    height: 0.5rem;
    margin-top: 2rem;
}




/* ULTIMO VIDEO ---------------------- */
.lastvideo {
    display: grid;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 2rem;

}

.lastvideo__boxvid {
    display: grid;
    grid-template-areas:
     'h2 h2 h2'
     'lastvideo__boxvid__vid lastvideo__boxvid__vid p'
     'lastvideo__boxvid__vid lastvideo__boxvid__vid p'
    ;
    align-items: center;
    height: 60rem;
}


.lastvideo__boxvid h2 {
    grid-area: h2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.lastvideo__boxvid h2:before,
.lastvideo__boxvid h2:after{
    display: block;
    content: '';

}

.lastvideo__boxvid__vid {
    grid-area: lastvideo__boxvid__vid;
}

.lastvideo__boxvid p {
    grid-area: p;
    margin-left: 1rem;
}

/* ALBUMES */

.albumes{
    background: #252525;
    height: 110rem;
    display: grid;
    max-width: 190rem;
    margin: 0 auto;
}
.albumes__contenedor {
    background: #252525;
    height: 100rem;
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    /* grid-template-columns: 25vw 25vw 25vw; */
    /* grid-template-columns: repeat(3, 40rem); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* max-width: 180rem; */
    grid-gap: 1rem;
}

.albumes__contenedor--item {
    /* display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-right: 2rem;
    transition: box-shadow 1s ease-out;
}

.albumes__contenedor--item:hover {
    /* box-shadow: 12px 12px 40px #1a1a1a, -12px -12px 40px #c5c2c2; */
    box-shadow: 14px 14px 11px #1a1a1a, -14px -14px 11px #817b7bd8;
}


.albumes img {
    width: 100%;
   
}

.albumes h2 {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.albumes h2:before,
.albumes h2:after {
    display: block;
    content: '';

}

/*
box-shadow: 24.92px 24.92px 60px #404040, -24.92px -24.92px 60px #8A8A8A;  hacerlo hover y animation
 */


/* EVENTOS */

.eventos {
    text-align: center;
    height: 70rem;
    display: grid;
    grid-template-areas: 
    'h2e h2e h2e'
    'ev ev ev'
    ;
    background: url(./assets/fondopiola.jpg);
}

.eventos h2 {
    grid-area: h2e;
}

.eventos__table {
    grid-area: ev;
    display: flex;


}

.eventos__table__a {
    background: rgba(255, 255, 255, 0);
    transition: background 2s ease-out;
    height: 3rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
}

.eventos__table__a:hover {
    /* background: rgba(255, 255, 255, 0.253); */
    background: rgba(190, 132, 6, 0.603);
}




/* CONTACTO---------------------------------- */


.contacto {
    background: black;
    height: 60rem;
    margin-top: 12rem;
    margin-bottom: 7rem;
    /* width: auto; */
}


.contacto h2 {
    text-align: center;
    margin-right: 61rem;
    font-size: 4rem;
    margin-bottom: -1rem;
}



.contacto__form {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'nombre apellido'
    'email email'
    'asunto asunto'
    'mensaje mensaje'
    'submit submit'
    ;
    /* width: auto; */
}


.nombre {
    grid-area: nombre;
}
.apellido {
    grid-area: apellido;
}
.email {
    grid-area: email;
}

.asunto {
    grid-area: asunto;
}
.mensaje {
    grid-area: mensaje;
    margin: 0 auto;
}
.submit {
    grid-area: submit;
    margin: 0 auto;
   
}

#submit--width {
    width: 10rem;

}

.textplace {
    height: 20rem;
    width: 82rem;
    resize: none;
    margin-left: -6rem;
    margin-top: 2rem;
    background: rgba(185, 179, 179, 0.096);
    outline: none;
    font-size: 2.3rem;
    color: white;
}

.textplace:hover {
    background: rgba(185, 179, 179, 0.233);
}

.contacto__form input {
    background: rgba(185, 179, 179, 0.096);
    height: 6rem;
    width: 40rem;
    margin-right: 2rem;
    margin-top: 2rem;
    color: white;
    outline: none;
    font-size: 2.3rem;
}

.contacto__form input:hover {
    background: rgba(185, 179, 179, 0.233);
    
}

#email--width {
    width: 82rem;
}

select {
    background: rgba(185, 179, 179, 0.295);
    font-size: 2rem;
    color: grey;
}

option {
    font-size: 2rem;
}

.options p {
    font-size: 2rem;
}




/* FOOTER--------------------------------------------- */

footer {
    /* background: #252525; */
    background: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5rem;
}

footer a {
    transition: color 1s ease-out;
}

footer a:hover {
    color: rgba(194, 166, 11, 0.925);
}
.derechos {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    margin-top: 3rem;
}

.derechos a {
    background: none;
    font-size: 1.5rem;
}

.derechos p {
    font-size: 1.5rem;
}


.iconos{
    margin-top: 3rem;

}

.iconos ul {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
}

.iconos li {
    margin: 1rem;
    font-size: 2rem;

}

.iconos a {
    background: none;
}


@media all and (max-width: 960px) {

.albumes {
    display: grid;

}

.albumes__contenedor {

    display: grid;
    grid-template-columns: 39% 39%;
    min-width: 0;
    grid-gap: 3rem;
    max-height: 100%;
    grid-gap: 2rem;
    margin-bottom: 10rem;
    
}

.albumes__contenedor--item {
    overflow: hidden;
    max-width: 100%;

}



/* EVENTOS --------- */
.eventos {
    width: auto;
}

.eventos__table {
    width: auto;
    /* overflow: auto; */
}

table{
    min-width: 0;
    max-width: auto;
   
}





/* CONTAACTO -------- */

.contacto {
    max-width: inherit;
    margin: 0 auto;
    margin-bottom: 10rem;
    
  
}

.contacto h2 {
   margin: 0;
   margin-top: 1rem;
   margin-bottom: 2rem;
   text-align: center;

}

.contacto p {
    text-align: center;
    margin-bottom: 1rem;
}

fieldset {
    width: auto;
}



.contacto__form{
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: auto;
    
}
.contacto__form input{
    /* resize: none; */
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;

}

#email--width {
    width: auto;
}


.textplace {
    width: auto;
    margin-bottom: 2rem;
    text-align: center;
}

.options {
    margin-top: -2rem;
}


/* FOOTER --------------- */

footer {
    /* display: flex; */
}

}


@media all and (max-width: 880px) {

    .nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav li {
        flex: 1 1 50%;
    }

    .nav--icon {
        display: none;

    }

    td {
        width: auto;
        word-wrap: break-word;
        
    }

    .eventos__table {
        height: 100%;
        overflow: auto;
        

        


    }

    table {
        table-layout: fixed;
        width: 90%;
        font-size: 1.6rem;
        


    }
    


}

@media all and (max-width: 800px) {
/* NAV ------------------ */
    .navWrapper {
        display: flex;
        flex-direction: column;
    }

    .navWrapper > *{
        order: 999;
    }



    .nav ul {
        display: none;
    }

    .nav ul.open {
        display: flex;
    }

    .nav li {
        flex-basis: 100%;
    }


    .nav--icon {
        /* display: none; */
        display: flex;
        order: 1;
       margin-left: auto;
       margin-right: auto;
    }


    .toggle {
        display: block;
        width: auto;
        height: 4rem;
        font-size: 3rem;
        background: none;
    }




    /* LASTVIDEO-------------- */

    .lastvideo__boxvid {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

/* EVENTOS -------------- */

.eventos{
    display: flex;
    flex-direction: column;
}

th:not(.fecha) {
    display: none;
}

.lugar,
.detalles {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconos {
    justify-content: center;
    margin: 0 auto;
}

.derechos {
    justify-content: center;

}

.derechos p {
    padding: 1rem;
}

}
